* {
  box-sizing: border-box;
  /* 박스 사이즈는 border까지 포함이다. */
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  color: #3f464d;
}
.inner {
  width: 100%;
  height: 100%;
  /* 가운데 설정임 */
  margin: 0 auto;
  padding: 0 1rem;
}
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f6f6;
}
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
img {
  width: 100%;
  height: 100%;
  position: relative;
}
.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}
a {
  /* A태그 속성 리셋 */
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}
a:hover {
  cursor: pointer;
  color: gold;
}
section {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.main {
  height: 100%;
  z-index: 1;
  background-size: cover;
}
.main-container {
  width: 100%;
  height: 100%;
  /* background-color: rgba(47, 48, 49); */
  z-index: 2;
  margin-top: 60px;
}
.header-image {
  opacity: 0.5;
}
.title-container {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 20%;
  left: 20%;
}
.title {
  color: blue;
  margin-bottom: 0.7rem;
}
.message {
  color: red;
  font-weight: 800;
  line-height: 2rem;
}
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.skill {
  width: 25%;
  background-color: #fff;
  align-items: center;
  border-radius: 9px;
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  /* 아이콘 움직임 */
  transition: 0.4s;
}
/* 아이콘 움직임 */
.skill:hover {
  transform: translate(0, -5px);
}
.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}
.skill-title {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}
.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}
.python-style {
  color: #2186c4;
}
.vue-style {
  color: green;
}
.aws-style {
  color: gold;
}
.roadmap-container {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}
.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}
.arrow-prev {
  font-size: 2rem;
  cursor: pointer;
  color: blue;
}
.arrow-next {
  font-size: 2rem;
  cursor: pointer;
  color: blue;
}
.class-list {
  display: flex;
  list-style: none;
  /* 위에 스타일 none 해도 기존 li 속성은 남아 있어서 */
  padding: 1rem 0;
  margin: 0;
}
.class-card {
  width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
  border-radius: 8px;
  margin: 0 10px;
  transition: 0.4s;
  flex-shrink: 0;
}
.class-card:hover {
  box-shadow: 10px 10px 0px -5px rgba(25, 42, 70, 0.2);
  transform: translate(0, -5px);
}
.class-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 150px;
}
.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}
.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class-type {
  font-size: 0.9rem;
  color: #949393;
}
.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: #0d47a1;
  padding: 0.2rem;
}
.class-desc {
  width: 100%;
  margin-top: 0.8rem;
}
.class-title {
  font-weight: bold;
  color: #545e6f;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1rem;
}
.roadmap-desc {
  display: visual;
}
footer {
  border-top: 1px solid #e4e4e4;
  background-color: #e4e4e4;
  padding: 1rem 0;
  margin: 1rem 0;
}
.footer-message {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.4rem;
}
.footer-contact {
  color: #545e6f;
  margin: 0.5rem 0.5rem;
}
.footer-copyright {
  color: #545e6f;
}
@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1500px;
  }
}
@media only screen and (max-width: 900px) {
  .main-container {
    display: none;
  }
  .skill-container {
    margin-top: 15%;
    flex-wrap: wrap;
    /* display: none; */
  }
  .skill {
    width: 50%;
  }
  .roadmap-desc {
    display: none;
  }
}
